<h2>Product List</h2>

<form action="/products" method="post">
  <input type="text" name="description" placeholder="Product description">
  <input type="text" name="price" placeholder="Product price">
  <button type="submit">Add Product</button>
</form>

<% if @products.any?() %>
  <form action="/cart" method="post">
    <input type="hidden" name="_method" value="patch">
    <ul class="list-unstyled">
      <% @products.each() do |product| %>
        <li><input type="checkbox" name="product_ids[]" value="<%= product.id %>"> <%= product.description()%> <%= product.price().to_f() %> <a href="/products/<%= product.id %>/edit">Edit!</a></li>
      <% end %>
    </ul>
    <button type="submit">Add to cart</button>
  </form>

<% else %>
  <h3> There are no products in the store! </h3>
<% end %>
