<!DOCTYPE html>
<html>
  <head>
    <title>Point of Sale</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  </head>
  <body>
    <div class="container page-header">
      <h2><a href="/">Point of Sale System</a></h2>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
